<template>
  <div v-if="currentHotelDetails" id="app">
    <v-app>
      <v-content>
        <v-container>
          <div class="allHotelsLink">
            <v-icon color="#9E7BA7">fas fa-chevron-circle-left</v-icon>SEE ALL VEGAS HOTELS
          </div>
          <v-layout row wrap>
            <v-flex xs3>
              <div class="hotelImage">
                <img src="assets/images/venetian.jpg" alt="hotel image" height="200" width="280"/>
              </div>
              <div class="hotelListing" >
                <div v-for="hotel in hotels" v-bind:key="hotel.id">
                  <div class="hotelListingName">
                    {{ hotel.name }}
                  </div>
                  <div class="hotelListingPrice">
                    {{ formatPrice(hotel.price) }}
                  </div>
                </div>
              </div>
            </v-flex>
            <v-flex xs9>
              <v-layout row wrap class="hotelHeader">
                <v-flex xs8>
                  <div class="hotelTitle">
                    <div class="hotelName">{{currentHotelDetails.name.toUpperCase()}}</div>
                    <div class="starRating">
                      <star-rating
                        :show-rating="false"
                        :increment="0.5"
                        :read-only="true"
                        :star-size="20"
                        :rating="currentHotelDetails.starRating"/>
                    </div>
                  </div>
                  <div class="hotelSubtext">
                    <div class="subtextItem locationSubtextItem" @click="openLocationTab()">
                      <v-icon medium>place</v-icon>{{ currentHotelDetails.location.areaName }}
                    </div>
                    <div class="subtextItem">
                      <v-icon>local_phone</v-icon>{{ currentHotelDetails.phoneNumber }} 
                    </div>
                    <div class="subtextItem">
                      <v-icon>thumb_up</v-icon>Best Price Guarantee
                    </div>
                  </div>
                </v-flex>
                <v-flex xs4>
                  <div class="priceText">
                    {{ formatPriceNoTrailingZeroes(currentHotelDetails.price) }}
                  </div>
                  <div class="priceSubtext">
                    HOTEL ROOMS FROM
                  </div>
                </v-flex>
              </v-layout>
              <v-tabs
                v-model="tabs"
                color="#895E95"
                dark
                grow
                height="70"
                slider-color="#733080">
                <v-tab :key=0>
                  DESCRIPTION
                </v-tab>
                <v-tab :key=1>
                  DETAILS
                </v-tab>
                <v-tab :key=2>
                  LOCATION
                </v-tab>
              </v-tabs>
               <v-tabs-items v-model="tabs">
                  <v-tab-item :key=1>
                    <div>
                      <div class="descriptionContainer" v-bind:class="{ descriptionContainerCollapsed : isDescriptionCollapsed }">
                        {{ currentHotelDetails.description }}
                      </div>
                    </div>
                    <div v-if="isDescriptionCollapsed" class="expandButton" @click="toggleDescriptionCollapsed()">
                      SHOW FULL DESCRIPTION <v-icon color="#9E7BA7">fas fa-chevron-circle-down</v-icon>
                    </div>
                    <div v-if="!isDescriptionCollapsed" class="expandButton" @click="toggleDescriptionCollapsed()">
                      HIDE FULL DESCRIPTION <v-icon color="#9E7BA7">fas fa-chevron-circle-up</v-icon>
                    </div>
                  </v-tab-item>
                  <v-tab-item :key=2>
                    <div>
                      <div class="detailsContainer" v-bind:class="{ detailsContainerCollapsed : isDetailsCollapsed }">
                        <div v-for="item in currentHotelDetails.details" v-bind:key="item.id">
                          <div class="detailLabel">
                            {{item.label + ":"}}
                          </div>
                          <div class="detailValue">
                            {{item.value}}
                          </div>
                        </div>
                      </div>
                      <div v-if="isDetailsCollapsed" class="expandButton" @click="toggleDetailsCollapsed()">
                        VIEW MORE DETAILS <v-icon color="#9E7BA7">fas fa-chevron-circle-down</v-icon>
                      </div>
                      <div v-if="!isDetailsCollapsed" class="expandButton" @click="toggleDetailsCollapsed()">
                        VIEW FEWER DETAILS <v-icon color="#9E7BA7">fas fa-chevron-circle-up</v-icon>
                      </div>
                    </div>
                  </v-tab-item>
                  <v-tab-item :key=3>
                    <div>
                      <div class="locationDetails">
                         <v-icon medium>place</v-icon>
                         {{ currentHotelDetails.location.address + ", " + 
                            currentHotelDetails.location.city + ", " + 
                            currentHotelDetails.location.state + " " + 
                            currentHotelDetails.location.postalCode  }}
                      </div>
                      <img src="assets/images/map_venetian.png" alt="venetian map" width="95%"/>
                    </div>
                  </v-tab-item>
                </v-tabs-items>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import 'vuetify/dist/vuetify.min.css'
import StarRating from 'vue-star-rating'

export default {
  name: 'app',
  components: {
    StarRating
  },
  data () {
    return {
      defaultHotelCode: 118,
      currentHotelCode: 118,
      tabs: 0,
      isDescriptionCollapsed: true,
      isDetailsCollapsed: true
    }
  },

  computed: {
    hotels () {
      return this.$store.getters.hotels
    },

    currentHotelDetails () {
      return this.$store.getters.hotelLookup[this.currentHotelCode]
    }
  },

  created: function(){
    this.$store.dispatch('fetchHotels').then(() => {
      this.$store.dispatch('fetchVenetianDetails').then(() => {
        this.currentHotelCode = this.defaultHotelCode
      })
    })
  },

  methods: {
    formatPrice(value) {
        
        let val = (value/1).toFixed(2).replace(',', '.')
        return "$" + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },

    formatPriceNoTrailingZeroes(value) {
      let val = (value/1).toFixed(2).replace(',', '.')
      return "$" + val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".").replace(/\.00/g, "")
    },

    toggleDescriptionCollapsed() {
      this.isDescriptionCollapsed = !this.isDescriptionCollapsed
    },

    toggleDetailsCollapsed() {
      this.isDetailsCollapsed = !this.isDetailsCollapsed
    },

    openLocationTab() {
      this.tabs = 2
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.v-tabs__slider {
  height: 4px;
}

.hotelTitle {
  font-size: 40px;
  text-align: left;
  color: grey;
}

.priceText {
  font-size: 70px;
  color: orange;
  font-weight: bold;
  width: 100%;
  height: 90px;
}

.hotelSubtext {
  text-align: left;
  font-size: 20px;
  color: grey;
}

.subtextItem {
  display: inline-block;
  padding-right: 3px;
}

.locationSubtextItem {
  cursor: pointer;
}

.hotelImage {
  text-align: left;
}

.hotelListing {
  background-color: #efefef;
  width: 280px;
}

.hotelListingName {
  display: inline-block;
  width: 65%;
  text-align: left;
  margin: 4px;
  color: #9E7BA7;
}

.hotelListingPrice {
  display: inline-block;
  width: 20%;
}

.hotelName {
  display: inline-block;
  padding-right: 10px;
}

.starRating {
  display: inline-block;
}

.hotelHeader {
  padding-bottom: 20px;
}

.descriptionContainer {
  text-align: left;
  font-size: 18px;
  overflow: hidden;
  white-space: pre-wrap;
}

.descriptionContainerCollapsed {
  height: 200px;
}

.detailsContainer {
  text-align: left;
  font-size: 18px;
  overflow: hidden;
  white-space: normal;
}

.detailsContainerCollapsed {
  height: 200px;
}

.expandButton {
  padding: 20px;
  text-align: left;
  font-size: 18px;
  color: #9E7BA7;
}

.allHotelsLink {
  text-align: left;
  font-size: 18px;
  color: #9E7BA7;
}

.detailLabel {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.detailValue {
  text-align: left;
  font-size: 18px;
  padding-bottom: 10px;
}

.locationDetails {
  font-size: 22px;
  text-align: left;
}
</style>
